h1 {
    text-align: center;
    color: red !important;
    padding-left: 400px;
}

body {
    background-image: url("punainenmatto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dropdown {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    left: 53% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(50%, 20%) !important;;
  }

  ul {
    color: red;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }